[build-system]
requires = [
    "cffi>=1.0.0",
    "setuptools>=40.6.0",
    "setuptools_scm[toml]>=3.4",
    "wheel",
]
build-backend = "setuptools.build_meta"

[tool.isort]
from_first = true
include_trailing_comma = true
known_first_party = "_avif"
multi_line_output = 3

[tool.setuptools_scm]
